name: 每日资金流向抓取

on:
  schedule:
    - cron: '30 16 * * 1-5' # 每天16:30运行，周一到周五
  workflow_dispatch:  # 可以手动触发

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: 设置 Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: 安装依赖
        run: |
          pip install requests pandas matplotlib openpyxl
      - name: 运行脚本
        run: python get_board_flow.py
      - name: 上传结果文件
        uses: actions/upload-artifact@v4   # 改为 v4
        with:
          name: board-flow
          path: data/*
